.nav-trigger {
	z-index: 3;
	position: fixed;
	top: 1.75em;
	left: 5%;
    width: 54px;
    height: 54px;
	overflow: hidden;
	border-radius: 50%;
	text-indent: 100%;
	white-space: nowrap;
	@include transition(transform $animation-duration - 0.2s);
        @include break(grande) {
            top: 2em;
        }
        .nav-icon {
            position: absolute;
            @include center;
            width: 22px;
            height: 2px;
            background-color: $white;
                &:before, 
                &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%; 
                    background-color: inherit;
                    @include transform(translateZ(0));
                    -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                    @include transition(transform $animation-duration - 0.2s, width $animation-duration - 0.2s, top .3s);
                    content: "\0020";
                }
                &:before {
                    @include transform-origin(right top);
                    @include transform(translateY(-6px));
                }
                &:after {
                    @include transform-origin(right bottom);
                    @include transform(translateY(6px));
                }
        }
        .no-touch &:hover .nav-icon:after {
            top: 2px;
        } 
        .no-touch &:hover .nav-icon:before {
            top: -2px;
        }
        svg {
            position: absolute;
            top: 0;
            left: 0;
        }
        circle {
            @include transition(stroke-dashoffset $animation-duration - 0.3s 0s);
        }
        .navigation-is-open & {
            @include transform(rotate(180deg));
                .nav-icon:after, 
                .nav-icon:before {
                    width: 50%;
                    @include transition(transform $animation-duration - 0.2s, width $animation-duration - 0.2s);
                }
                .nav-icon:before {
                    @include transform(rotate(45deg));
                }
                .nav-icon:after {
                    @include transform(rotate(-45deg));
                }
                .no-touch &:hover .nav-icon:after,
                .no-touch &:hover .nav-icon:before {
                    top: 0;
                } 
                circle {
                    stroke-dashoffset: 0;
                    @include transition(stroke-dashoffset $animation-duration - 0.3s 0.3s);
                }
        }
}
.nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
    background: $blue;
	visibility: hidden;
	@include transition(visibility 0s $animation-duration);
        .navigation-wrapper {
            height: 100%;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            padding: 0 10%;
            @include transform(translateZ(0));
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            @include transform(translateX(-50%));
            @include transition(transform $animation-duration);
            @include transition-timing-function(cubic-bezier(.86,.01,.77,.78));
                @include break(grande) {
                    padding: 10% 5%;
                    @include clearfix;
                }
                @include break(venti) {
                    padding: 62px 20%;
                }
        }
        .navigation-is-open & {
            visibility: visible;
            @include transition(visibility 0s 0s);
                .navigation-wrapper {
                    @include transform(translateX(0));
                    @include transition(transform $animation-duration - 0.2s);
                    @include transition-timing-function(cubic-bezier(.82,.01,.77,.78));
                }
        }
        h2 {
            margin-bottom: 2em;
            padding: 0;
            color: rgba($white, .5);
            font-family: $font-emphasis;
            font-size: .6em;
            letter-spacing: .1em;
            text-transform: uppercase;
                &:after {
                    content: "\0020";
                    position: absolute;
                    left: 0;
                    bottom: -1em;
                    height: 1px;
                    width: 3.5em;
                    background-color: currentColor;
                }
        }
        .primary-nav,
        .contact-info {
            margin-top: 1.75em;
            text-align: right;
                @include break(grande) {
                    margin: 3em 0;
                }
                @include break(supersize) {
                    margin: 5em 0;
                }
                li {
                    margin: 0;
                    line-height: 1.4em;
                        &:before {
                            display: none;
                        }
                        a {
                            display: inline-block;
                            background: none;
                            box-shadow: none;
                            color: $white;
                            text-shadow: none;
                               .no-touch &:hover {
                                    box-shadow: none;
                                    color: $gold;
                                }
                        }
                }
        }
        .primary-nav {
            font-family: $font-title;
            font-weight: 100;
                li {
                    font-size: 2.6em;
                        @include break(grande) {
                            text-align: left;
                            margin: .35em 0;
                        }
                        &.selected {
                            color: $white;
                        }
 
                }
        }
        .contact-info {
                li {
                    margin: 2.75em 0;
                }
                h3 {
                    margin: 0;
                }
        }
}
.no-js main {
	height: auto;
	overflow: visible;
}  
.no-js .nav {
	position: static;
	visibility: visible;
        .navigation-wrapper {
            height: auto;
            overflow: visible;
            padding: 0 5%;
            @include transform(translateX(0));
        }
}